:root {
  --charcoal: #343a40;
  --grey: #6c757d;
  --white: #f8f9fa;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--charcoal);
}

* {
  box-sizing: border-box;
}

.bg-dark {
  background-color: var(--charcoal);
}

.bg-grey {
  background-color: var(--grey);
}

.bg-white {
  background-color: var(--white);
}

.text-dark {
  color: var(--charcoal);
}

.text-grey {
  color: var(--grey);
}

.text-white {
  color: var(--white);
}

.song-item {
  width: 80vw;
  height: 3vh;
  border: 0.1px solid var(--white);
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
}
.song-item:hover {
  transform: scaleY(1.1);
}

.container {
  padding: 5px 8px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.justify-text {
  text-align: justify;
}

.start-text {
  text-align: start;
}

.end-text {
  text-align: end;
}

.mx {
  margin: 0 5%;
}

.my {
  margin: 2% 0;
}
/* For toggler */
.hidden {
  display: none;
}

@keyframes grow-down {
  0% {
    transform: scaleY(0);
  }
  30% {
    transform: scaleY(0.4);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
/* Set this class to any object you want to become a dropdown menu*/
.dropdown {
  animation: grow-down 300ms ease-in-out forwards;
  transform-origin: top;
}

@keyframes slide {
  0% {
    transform: scaleX(0);
  }
  30% {
    transform: scaleX(0.4);
  }
  90% {
    transform: scaleX(1.1);
  }
  100% {
    transform: scaleX(1);
  }
}

.slider {
  animation: slide 200ms ease-in forwards;
  transform-origin: left;
}

.list {
  font-size: smaller;
  list-style-type: none;
}

.button {
  width: 80px;
  height: 60px;
  font-size: 20px;
  border-radius: 50px;
  color: aliceblue;
  background-color: cadetblue;
}
